[submodule "kitty_grab"]
	path = kitty_grab
	url = https://github.com/yurikhan/kitty_grab.git
[submodule "kitty_search"]
	path = kitty_search
	url = https://github.com/trygveaa/kitty-kitten-search.git
