[submodule "kitty_grab"]
	path = kitty_grab
	url = https://github.com/MiroshnikovAleksandr/kitty_grab
[submodule "kitty_search"]
	path = kitty_search
	url = https://github.com/trygveaa/kitty-kitten-search.git
